"""
Neural Network Database defaults to a Postgres Database named 'neural-networks'
"""

import os
from os.path import dirname


BASE_PATH = dirname(os.path.abspath(__file__))

DATA_LOC = 'data'
DATA_DIR = os.path.join(BASE_PATH, DATA_LOC)


DATABASE = {
    'drivername': 'postgres',
    'host':'localhost',
    'port':'5432',
    'username': 'postgres',
    'password': '',
    'database': 'neural-networks'
}
